<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Sctict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>{{ page.title }}</title>
	<meta name="author" content="Emilio A. Escobar"/>
	<link rel="stylesheet" href="/css/styles.css" />
	
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-33385486-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</head>
<body>

	<div id="container">
		<div id="header">
			<div id="me">
				<a href="/">
					<span id="emilio">Emilio</span>
					<span id="escobar">Escobar</span>
				</a>
			</div>
			<div id="mousing">&nbsp;</div>
			<div class="site">
	
			</div>
			<div id="sections">
				<div>
					<a href="/about.html">about</a>
				</div>
				<div>
					<a href="/projects.html">projects</a>
				</div>
			</div>

			<div id="icons">
				<div class="side-github">
					<a target="_blank" href="http://www.github.com/eaescob"><img src="/images/icon_github.png" /></a>
				</div>
				<div class="side-twitter">
					<a target="_blank" href="http://www.twitter.com/eaescob"><img src="/images/twitter.png" width="70" height="70"/></a>
				</div>
				<div class"side-linkedin">
					<a target="_blank" href="http://www.linkedin.com/pub/emilio-escobar/22/812/710"><img src="/images/linkedin.png"/></a>
				</div>
				<div class="side-gplus">
					<a href="//plus.google.com/107780988381532335005?prsrc=3" rel="publisher" style="text-decoration:none;">
					<img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;height:32px;width:32px;" width="70" height="70"/></a>
				</div>
			</div>
			<div id="copyright">
				<p>Emilio A. Escobar</p>
				<p>Copyright (c). 2012.</p>
			</div>


		</div>

			<div id="body-header">
				<p></p>
			</div>

			{{ content }}

	</div>
</body>
</html>
